<!-- New Disclosure Section for Footer -->
<div id="disclosure">
  <div class="disclose-bg">
  <div class="site-disclosure">
    <h4> {{ section.settings.text-box }} </h4>
    <p> {{ section.settings.text }} </p>
  </div>
  </div>
</div>

<style>
  .disclose-bg {
    background-color: {{ section.settings.color_bg }};
    margin-bottom: -55px;
  }
  .site-disclosure {
    /* styles to complement footer */
    text-align: justify;
    text-align-last: center;
    padding: 55px 18% 0;
  }
</style>

{% schema %}
  {
    "name": "Disclosure Box",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Disclosure"
      },
	  {
        "id": "color_bg",
        "type": "color",
        "label": "Section BG",
        "default": "#788188"
	  },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom disclosure below",
        "default": "<p>Add your Disclosure content here</p>"
      }
    ],
	"presets": [
      {
        "name": "Disclosure Box",
        "category": "Disclosure"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}