/*-----------------------------------------------
  Humbleseed | Custom Theme Style Rules
  Seann Kearney - Aug 2019
-----------------------------------------------*/


/*----------------
# Branded Fonts
----------------*/


@font-face {
  font-family: "Newzald-Book";
  src: url("NewzaldWeb-Book.woff2") format("woff2"),
       url("NewzaldWeb-Book.woff") format("woff");
} 

@font-face {
  font-family: "AtlasGrotesk-Medium";
  src: url("AtlasGrotesk-Medium-Web.woff2") format("woff2"),
       url("AtlasGrotesk-Medium-Web.woff") format("woff");
}

@font-face {
  font-family: "AtlasGrotesk-Light";
  src: url("AtlasGrotesk-Light-Web.woff2") format("woff2"),
       url("AtlasGrotesk-Light-Web.woff") format("woff");
}


/*------------
# Normalize
------------*/
hr {
    margin: 35px 0;
    border: 0;
    border-bottom: 1px solid #e8e9eb;
}


/*---------------
# Typography
--------------*/

h1, .h1, .h2, .h4, .section-header h2 { font-family: "Newzald-Book" !important; }

h2, .site-nav, .product-single__description b { font-family: "AtlasGrotesk-Medium" !important; }

h3, body, .btn, .site-footer .h4, .shopify-payment-button .shopify-payment-button__button--unbranded { font-family: "AtlasGrotesk-Light" !important; }

.bespoke-txt-section h2, .bespoke-txt-section p {
    color: #fff;
}

/*---------------------------
# Home Sections 
----------------------------*/

/*.index-section {
    padding-top: 35px;
    padding-bottom: 0px;
}*/
.newsletter-section {
    padding-top: 55px;
    margin: 0 0 -55px;
}
/*@media only screen and (min-width: 750px) {
  .index-section {
      margin-top: 35px;
	  padding-top: 35px;
      padding-bottom: 20px;
	}
}*/

.hoverfly:hover {
    opacity: .5;
}

/*---------------------------
# Footer Block Sections
----------------------------*/

  .logo-footer {
    float: left;
	margin: -11px 0;
    padding: 0 25px 13px 0;
  }

  img.ft-logo {
    max-width: 55px;
    border: 0;
  }

  .site-footer__linklist-item {
    display: block;
    padding: 15px 0; }
  @media only screen and (min-width: 750px) {
    .site-footer__linklist-item {
      padding: 0 30px 5px 0;
      float: left;	  } }
  .site-footer__linklist-item:last-of-type {
    padding-right: 0;
	padding-bottom: 35px;}
	
  .d-footer__rte h4 {
    margin-bottom: 12.5px; }
    @media only screen and (min-width: 750px) {
      .d-footer__rte h4 {
        min-height: 1.1875em;
        margin-bottom: 8px;
		padding: 12px 0 0;
		clear: left;  } }	
		
  .d-footer__rte p {
    text-align: justify;
  }
  
  .d-footer__rte{
    font-size: 14px;
  }

  .top-footer {
  	display: -ms-flexbox;
  	-ms-flex-align: start;
  	-webkit-align-items: flex-start;
  	-moz-align-items: flex-start;
  	-ms-align-items: flex-start;
  	-o-align-items: flex-start;
  	align-items: flex-start;
  	-webkit-flex-wrap: wrap;
  	-moz-flex-wrap: wrap;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  }
  
  @media only screen and (max-width: 749px) {
  .top-footer {
  	padding: 0 18px;
  	display: flex;
  	width: 100%;	
  } }
  
  .top-footer__item:first-of-type {
  	padding-left: 0;
  }
  
  .top-footer__item:last-of-type {
  	padding: 0 0px 45px 0px;
  }
