/*-----------------------------------------------
  Humbleseed | Custom Theme Style Rules
  Seann Kearney - Aug 2019
-----------------------------------------------*/


/*----------------
# Branded Fonts
----------------*/


@font-face {
  font-family: "Newzald-Book";
  src: url("NewzaldWeb-Book.woff2") format("woff2"),
       url("NewzaldWeb-Book.woff") format("woff");
} 

@font-face {
  font-family: "AtlasGrotesk-Medium";
  src: url("AtlasGrotesk-Medium-Web.woff2") format("woff2"),
       url("AtlasGrotesk-Medium-Web.woff") format("woff");
}

@font-face {
  font-family: "AtlasGrotesk-Light";
  src: url("AtlasGrotesk-Light-Web.woff2") format("woff2"),
       url("AtlasGrotesk-Light-Web.woff") format("woff");
}


/*------------
# Normalize
------------*/
hr {
    margin: 35px 0;
    border: 0;
    border-bottom: 1px solid #e8e9eb;
}


/*---------------
# Typography
--------------*/

h1 { font-family: "Newzald-Book" !important; }

h2, .site-nav, .product-single__description b { font-family: "AtlasGrotesk-Medium" !important; }

h3, body, .btn, .shopify-payment-button .shopify-payment-button__button--unbranded { font-family: "AtlasGrotesk-Light" !important; }

.bespoke-txt-section p {
    color: #fff;
}

/*---------------------------
# Home Sections Padding
----------------------------*/

/*.index-section {
    padding-top: 35px;
    padding-bottom: 0px;
}*/
.newsletter-section {
    padding-top: 55px;
    margin: 0 0 -55px;
}
/*@media only screen and (min-width: 750px) {
  .index-section {
      margin-top: 35px;
	  padding-top: 35px;
      padding-bottom: 20px;
	}
}*/

